
.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.form-control-lg {
    padding: 12px 20px;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.btn1 {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #007bff;
    border: 1px solid #007bff;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn1:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #004085;
}

.btn1:focus, .btn:active {
    color: #fff;
    background-color: #0056b3;
    border-color: #004085;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

.btn-primary1 {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-lg1 {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
}

.px-51 {
    padding-left: 3rem;
    padding-right: 3rem;
}
